.review-item {
    display: flex;
    width: 577px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 8px 25px 8px 8px;
}

.review-item .product-title {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
}
.review-details{
    flex-grow: 1;
}
.review-details{
    margin: 0 15px;
}

.review-item img {
    width: 91px;
    height: 91px;
    border-radius: 6px;
}

.orange-text{
    color: #FF9900;
}
/* delete btn style */
.button-delete{
    width: 55px;
    height: 55px;
    background: #f5707060;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-icon{
    color: #EB5757;
    font-size: 27px;
}